[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = chojumin
	email = mj4494@naver.com
[core]
	autocrlf = true
	safecrlf = false
